:root{
    --default-main: #1475E6;
    --shadow-containers: rgb(130, 130, 130);
}

.side-bar{
    box-shadow: 0 1px 10px var(--shadow-containers);
    nav{
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 10px;
        .link{
            border-radius: 2px;
            text-decoration: none;
            color: black;
            padding: 10px;
            border-left: 1.5px solid var(--shadow-containers);
            transition: 600ms;
            &:hover{
                transition: 600ms;
                border: none;
                background-color: rgb(99, 141, 233);
            }
        }
    }
}

.admin-wrapper{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    height: 100vh;
}

h1{
    width: fit-content;
}

.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  0.5fr 1fr;
}


.user-container, .message-container{
    display: block;
    height: 200px;
    margin: 30px auto;
    max-height: 45vh;
    width: 90%;
    box-shadow: 0 0 4px var(--shadow-containers);
    border-radius: 3px;
    overflow: hidden;
    .top-header{
        background-color: var(--default-main);
        display: flex;
        justify-content: space-between;
        padding: 10px;
        color: whitesmoke;
    }
}

.message-container{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 96%;
    height: 100vh;
    max-height: 45vh;
    margin: 30px auto;
    .list-messages{
        padding: 10px 0;
    }
}

.react-calendar{
    text-align: center;
    margin: 30px auto;
    padding: 10px;
    height: fit-content;
    border-radius: 4px;
}


.bar{
    background-color: var(--default-main);
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.navigation{
    margin-left: 20px;
    padding: 0;
    margin: 10px;
    li{
        list-style: none;
        padding: 10px 20px;
        margin-bottom: 20px;
        text-align: center;
        border-left: 1px solid rgb(39, 39, 39);
        transition: 200ms;
        &:hover{
            background-color: rgb(99, 141, 233);
            color: whitesmoke;
            border: none;
            transition: 200ms;
        }
        &:active{
            background-color: rgb(99, 141, 233);
        }
    }
}